version: "3.8"

services:
  clickhouse1:
    image: clickhouse/clickhouse-server:latest
    hostname: clickhouse1
    ports:
      - "8123:8123"
      - "9000:9000"
    volumes:
      - ./config/clickhouse1/config.xml:/etc/clickhouse-server/config.d/cluster.xml
      - ./config/users.xml:/etc/clickhouse-server/users.d/users.xml
    environment:
      CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: 1

  clickhouse2:
    image: clickhouse/clickhouse-server:latest
    hostname: clickhouse2
    ports:
      - "8124:8123"
      - "9001:9000"
    volumes:
      - ./config/clickhouse2/config.xml:/etc/clickhouse-server/config.d/cluster.xml
      - ./config/users.xml:/etc/clickhouse-server/users.d/users.xml
    environment:
      CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: 1

  clickhouse3:
    image: clickhouse/clickhouse-server:latest
    hostname: clickhouse3
    ports:
      - "8125:8123"
      - "9002:9000"
    volumes:
      - ./config/clickhouse3/config.xml:/etc/clickhouse-server/config.d/cluster.xml
      - ./config/users.xml:/etc/clickhouse-server/users.d/users.xml
    environment:
      CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: 1
